<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645731328274-flsfcaa8i6540202a1kh081nrcfqm38e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645731328274-flsfcaa8i6540202a1kh081nrcfqm38e</string>
	<key>API_KEY</key>
	<string>AIzaSyAAFHmjX3Cgp14lPnx_tiC7vHtPGn5AD1w</string>
	<key>GCM_SENDER_ID</key>
	<string>645731328274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fredblair.multiPhot0Upload</string>
	<key>PROJECT_ID</key>
	<string>multi-photo-upload</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-photo-upload.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645731328274:ios:27c2514bd343c0600393cb</string>
</dict>
</plist>